<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>home</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <style>
  .home{
    float:left;
    margin-left:20px;
   
  }
   .login{
    float:right;
    margin-right:20px;
   
  }
 
 
  
  </style>
</head>
<body>
<br>
<div id="a">

<div class="home"><a href="/user/users">USER</a></div>

<div class="home"><a href="/cab/cabs">CAR</a></div>

<div class="home"><a href="/tripBooking/trips">BOOKING</a></div>

<div class="home"><a href="/driver/drivers">DRIVER</a></div>

<div class="login"><a href="/home/login">Logout</a></div>
</div>
<br>
</body>
</html>